div, p{
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 10px;

}
.area {
    background-image: linear-gradient(to right bottom, red, blue, green);
}

.brea {
    background-image: linear-gradient(70deg, rgba(255, 192, 203, 0.644) 75%, yellow);
}


p{
   background-image: linear-gradient(white, black);

}