div, p{
    width: 200px;
    height: 200px;
    border: solid 2px black;
    margin: 10px;

}
.area {
    background-image: linear-gradient(to left bottom, red, green, blue);
}

.brea {
    background-image: linear-gradient(-70deg, rgba(255, 192, 203, 0.644) 75%, yellow);
}


p{
   background-image: linear-gradient(white, black);

}
.crea{
    background-image: radial-gradient(circle at center, yellow, blue);
}
.drea{
    background-image: repeating-radial-gradient(ellipse at center, black, white 10px);
}
.drea:hover{
    background-image: repeating-radial-gradient(ellipse at center, white, black 10px);
}